
body {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

button {
  margin; 0 auto;
  background: pink;
  border-radius: 20px;
  border: solid 0.125em black;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
}

button:hover {
  color: grey;
  background: lightgreen;
  border-radius: 20px;
  border: solid 0.125em grey;

}

#start-reset {
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
}

h1 {
  font-size: 1em;
  text-align: center;
  margin: 0.5em auto;
}

#turnhud {
  font-size: 2em;
  text-align: center;
  margin: 0.5em auto;
/*  transition: font 2s, width 2s, height 2s, background-color 2s, transform 2s;
  -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;*/
}

#game-wrapper {
/*  height: 600px;
  width:600px;
  clear: both;*/
}

.board-container {
  width: 30em;
  height: 30em;
  background-color: grey;
  margin: 2em auto;
  /*for the slack logo rotate -15deg
  transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);*/
}
/* for highlighting the winning three
.slideDown {
}

.slideUp {

}*/

.box {
  font-size: 8em;
  text-align: center;
  width: 32%; /*150px;*/
  height: 32%; /*150px;*/
  margin: 0.67%;
  background-color: white;
  float: left;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
/*  position: absolute;*/
}

.box:hover {
  background-color: #edecec;
}

.boxwon {
  background-color: red;
}

.boxwon:hover {
  background-color: pink;
}

footer {
  margin: 2em;
  color: lightgrey;
}

@media (max-width: 50em) {
  body {
    width: 100%;
  }

  .board-container {
    width: 40em;
    height: 40em;
    background-color: grey;
    margin: 1em auto;
    /*for the slack logo rotate -15deg
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);*/
  }

  .box {
    font-size: 10em;
    text-align: center;
    width: 31%; /*150px;*/
    height: 31%; /*150px;*/
    margin: 1.1%;
    float: left;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
  /*  position: absolute;*/
  }

  h1 {
    font-size: 1.5em;
  }

  #turnhud {
    font-size: 2.5em;
    text-align: center;
    margin: 0.5em auto;
  }
}
